*{
    margin: 0%;
}

.container{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    border: 0.1px solid black;
}

.sample1{
    position: absolute;
    z-index: 1;
    border-top: 10px solid blue;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 10px solid blue;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* background-color: aqua; */
    animation: rotate 1s linear  infinite ;
}
.sample2{
    position: absolute;
    z-index: 2;
    /* border: 2px solid green; */
    height: 180px;
    width: 180px;
    background-color: lightgreen;
    border-radius: 50%;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* .item-1{
    border: 1px solid black;
    height: 50%;
    width: 50%;
    background-color: white;
    display:ruby;
} */

.box{
    height: 35px;
    width: 35px;
    margin: 10px;    
}

.box:nth-child(even){
    background-color:red;
    animation: one 2s linear  infinite ;
}
.box:nth-child(odd){
    background-color: red;
    animation: two 2s linear  infinite ;
}

@keyframes one {
    30%{
        transform: scale(0.5);
        /* transform: rotatey(120deg); */
        /* background-color: red; */
    }
    
    80%{
        transform: scale(1.5);
        /* transform: rotatey(240deg); */
        /* background-color: black; */
    }
    
    100%{
        transform: scale(1);
        /* transform: rotatey(360deg); */
        /* background-color: greenyellow; */
    }
}
@keyframes two {
    30%{
        transform: scale(1.5);
        /* transform: rotateX(120deg); */
        /* background-color: greenyellow; */
    }
    
    80%{
        transform: scale(0.5);
        /* background-color: red; */
        /* transform: rotateX(240deg); */
    }
    
    100%{
        /* background-color: black; */
        transform: scale(1);
        /* transform: rotateX(360deg); */
    }
}


.item-2{
    /* border: 1px solid black; */
    height: 55%;
    width: 55%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#up{
    position: absolute;
    height: 5%;
    width: 50%;
    background-color: aliceblue;
    border-radius: 50%;
}

#down{
    position: absolute;
    height:50% ;
    width: 5%;
    background-color: aliceblue;
    border-radius: 50%;
}

.cold{

    box-shadow: 
    inset 5px 5px 10px skyblue,
    inset 5px -5px 10px skyblue,
    inset -5px 5px 10px skyblue,
    inset -5px -5px 10px skyblue,
    inset 10px 10px 10px lightblue,
    inset -10px 10px 10px lightblue,
    inset -10px -10px 10px lightblue,
    inset 10px -10px 10px lightblue, 
    inset 40px 40px 15px rgb(127, 186, 206),
    inset -40px 40px 15px rgb(127, 186, 206),
    inset 40px -40px 15px rgb(127, 186, 206),
    inset -40px -40px 15px rgb(127, 186, 206);
}

.hot{

    box-shadow: 
    inset 5px 5px 10px lightsalmon,
    inset 5px -5px 10px lightsalmon,
    inset -5px 5px 10px lightsalmon,
    inset -5px -5px 10px lightsalmon,
    inset 10px 10px 10px rgb(246, 136, 93),
    inset -10px 10px 10px rgb(246, 136, 93),
    inset -10px -10px 10px rgb(246, 136, 93),
    inset 10px -10px 10px rgb(246, 136, 93), 
    inset 40px 40px 15px rgb(239, 115, 74),
    inset -40px 40px 15px rgb(239, 115, 74),
    inset 40px -40px 15px rgb(239, 115, 74),
    inset -40px -40px 15px rgb(239, 115, 74);

}

.btns{
    background-color: aquamarine;
    height: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
    
}

.btns>button{
    border: none;
    background-color: black;
    color:white;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
}

.on{
    animation: rotate 1s linear infinite;
}

.slow{
    animation: rotate 2s linear infinite;
}

.medium{
    animation: rotate 1s linear infinite;
}

.fast{
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        
        transform: rotateZ(360deg);
    }
}



