body{
    margin: 0px;
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav-baar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin:20px 150px ;
    /* height: 150px;
    width: 150px; */
    width: 9.25rem;
    height: 2.5rem;
    fill:#e50914;
}

.nav-right {
    margin: 20px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.language-svg{
    height: 37px;
    margin: 0px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: white;
}

.language-svg>svg{
    margin-left: 5px;
}

#language{
    /* margin: 0px 15px 0px 0px; */
    background-color: transparent;
    border:1px solid transparent;
    outline: none;
    font-weight: 600;
    color: white;
    background-color: black;
}

.button {
    font-size: 15px;
    font-weight: 600;
    background-color:rgb(229, 9, 20);
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    color: white;
    height: 37px;
    width: 85px;

}

main{
    margin: 13%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

.bg-image{
    position: absolute;
    z-index: -2;
    /* opacity: 90%; */
    filter: brightness(90%);
    margin-top: -350px;
    

}

.bg-overlay{
    position: absolute;
    background-image: radial-gradient(circle at center, transparent 0% , black 100%);
    width: 100%;
    height: 100%;
    opacity: 90%;
    z-index: -1;

}

h1{
    font-weight:1500;
    color: white;
    font-size: 50px;
    padding: 0%;
    margin: 0%;
}

h3{
    padding: 0%;
    font-size: 27px;
    font-weight: 300;
    
}

p{
    font-size: 20px;
}

.email-start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email{
    background-color: transparent;
    border: 1px white solid;
    height: 55px;
    width: 350px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 15px;
    padding-left: 15px;
}

.email-lable{
    
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    color: darkgray;
}

.start-btn{
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight:600;
    height:59px ;
    width: 200px;
    font-size: 23px;

}




