.box-container > div , .box1 {
    height: 200px;
    width: 200px;
    border: 1px solid;
}

.box1{
    background-color: red;
    position: sticky;
    margin-top: 50px;
    top: 5px;
    z-index: 4;
    
}

.box2{
    background-color: green;
    position: relative;
    left: 50px;
    top: 50px;z-index: 5;
}

.box3{
    background-color: yellow;
    position: absolute;
    left: 180px;
    top: 50px;
    z-index: 7;
}

.box4{
    background-color: blue;
    position: fixed;
    left: 250px;
    top: 500px;
    z-index: -1;
}

.box5{
    background-color: pink;
    position: static;
    margin-left: 100px;
    margin-top: 100px;
    z-index:0;
}

