body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color:paleturquoise;
    box-shadow: 0px 10px 20px lightgray;
    position: relative;
    z-index: 1;
}

.nav-title{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: center;
    margin: 20px;
    border-right: 1px solid;

    animation: roll;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

.nav-search{
    margin: 5px;
    padding: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.nav-search > input{
    border-radius: 10px;
    border: none;
    height: 40%;
    width: 90%;
    padding: 5px 0px;
    background-color: paleturquoise;
    outline: none;
    font-size: 20px;
}

#menu-icon{
    margin-bottom: 15px;
    cursor: pointer;
}

#search-icon{
    margin-bottom: 15px;
    margin-left: 65px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon{
    margin-bottom: 14px;
    margin-left: 15px;
    cursor:pointer;
}

#icon:hover{
    transform: scale(1.1);
}

.user-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin:15px;
    filter: brightness(120%);
}

#three-dot-icon{
    margin: 0 15px 3px 0;cursor: pointer;
}

main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 20fr;
}

.sidebaar{
    background-color: #afeeee;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100vh;
    box-shadow: 10px 0px 20px lightgray;
}

.sidebaar-content{
    text-decoration:none;
    font-size: 18px;
    margin: 12px 8px;
    color:black;
    border-radius: 5px;
    background-color:#afeeee;

    display: flex;
    flex-direction: row;
    justify-content:start;
}

/* .sidebaar-content:not(:hover){
    background-color:paleturquoise;
    color:black;
} */

.material-icons{
    margin-top: 17px;
    margin-left: 10px;
}

.sidebaar-content>p{
    margin-left: 13px;
}

.sidebaar-content:first-child{
    background-color:black;
    color:white;
}

.article{
    margin: 5px 25px;
}

.containers{

    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.four-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.card1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 80%;
    margin: 20px;
    margin-left: 40px;
    background-color: #FAE645;
    border-radius: 30px;
    box-shadow: 10px 10px 10px lightgray ;

}

.card1>img{
    height: 90%;
    margin-top: 8px;
    margin-left: 10px;

}

.card1>h3{
    margin-right:5px ;
}


.card2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 80%;
    margin: 20px;
    background-color:violet;
    border-radius: 30px;
    box-shadow: 10px 10px 10px lightgray ;

}

.card2>img{
    height: 88%;
    width: 70%;
    margin-right: 15px;
    margin-top:10px;
}

.card2>h3{
    margin-left: 15px;
}


.card4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 80%;
    margin: 20px;
    margin-left: 40px;
    background-color: #FE6A30;
    border-radius: 30px;
    box-shadow: 10px 10px 10px lightgray ;

}

.card4>img{
    height: 90%;
    margin-top: 10px;
    
}


.card5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 80%;
    margin: 20px;
    background-color:#316EFE;
    border-radius: 30px;
    box-shadow: 10px 10px 10px lightgray ;
}

.card5>img{
    height: 90%;
    margin-top: 10px;
}


.card3{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 440px;
    width: 90%;
    margin: 20px;
    border-radius: 30px;
    background-color:bisque;
    box-shadow: 10px 10px 10px lightgray ;

}

@keyframes roll{

    0%{
        transform: translate(0deg);
    }
    5%{
        transform: rotateX(36deg);
    }
    10%{
        transform: rotateX(72deg);
    }
    15%{
        transform: rotateX(108deg);
    }
    20%{
        transform: rotateX(144deg);
    }
    25%{
        transform: rotateX(180deg);
    }
    30%{
        transform: rotateX(216deg);
    }
    35%{
        transform: rotateX(252deg);
    }
    40%{
        transform: rotateX(288deg);
    }
    45%{
        transform: rotateX(324deg);
    }
    50%{
        transform: rotateX(360deg);
    }
    55%{
        transform: rotateX(324deg);
    }
    60%{
        transform: rotateX(288deg);
    }
    65%{
        transform: rotateX(252deg);
    }
    70%{
        transform: rotateX(216deg);
    }
    75%{
        transform: rotateX(180deg);
    }
    80%{
        transform: rotateX(144deg);
    }
    85%{
        transform: rotateX(108deg);
    }
    90%{
        transform: rotateX(72deg);
    }
    95%{
        transform: rotateX(36deg);
    }
    100%{
        transform: rotateX(0deg);
    }
    
    
}

#menu-icon:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
}

/* .card5:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
    box-shadow: -10px 10px 10px lightgray ;
}
.card4:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
    box-shadow: -10px 10px 10px lightgray ;
}
.card2:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
    box-shadow: -10px 10px 10px lightgray ;
}
.card1:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
    box-shadow: -10px 10px 10px lightgray ;
}
h3:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateY(180deg);
} */



.card1>img:hover{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform:rotateY(360deg)
}
.card2>img:hover{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform:rotateY(360deg)
}
.card4>img:hover{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform:rotateY(360deg)
}
.card5>img:hover{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform:rotateY(360deg)
}
.card3>img:hover{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform:scale(1.01)
}






