nav {
    text-align: center;
    font-size: 20px;
    border: 2px solid;
    border-top: dotted;
    border-bottom: dotted;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav>a {
    margin: 10px;
}

h1#first {
    background: linear-gradient(45deg,rgb(17, 178, 232),rgb(246, 4, 4));
    background-clip: text;
    color:transparent;
    font-size: 50px;
    text-align: center;
    margin: 30px;

}

#second {
    color:#00ffff;
    border-style: double;
    border-color:#00ffff;
    border-width: 6px;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius:0;
    text-align: center;
    padding: 20px 300px;
    /* margin: 30px 300px; */

}

.third {
    color: blue;
    text-align: center;
    border-style:solid;
    border-width: 3px;
    border-color: blue;
    border-radius: 8px 0px ;
    background-color:#FFFC9B;
}

main{
    margin: 10px;
}

#title{
    /* margin: 50px 250px; */
    padding: 10px;
    text-align: center;
    text-decoration:double underline 1px ;
    text-transform: capitalize;
    border: solid skyblue;
    border-radius: 10px;
    background-color: #B7E5B4;
}

#about {
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Cute Font', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 8px;
    
}

#para {
    text-align: justify;
    text-indent: 50px;
    border: 2px solid skyblue;
    padding: 8px;
    background-color: #B7E5B4;
    height: 200px;
    overflow: scroll;
}

#para::first-letter{
    font-size: 40px;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 100px;
}

.box:nth-child(2){
   border:5px solid rgb(80, 153, 80);
}

#allbox{
    border: solid 2px red;
    height: 800px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    /* align-items:stretch; */
    align-items: center;
}


#scroll{
    height: 100px;
    width: 100px;
    border: 1px transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:15px;
    left: 15px;
    cursor:pointer;
    background: linear-gradient(45deg, rgb(71, 159, 188), rgb(214, 214, 85));
    animation: move 1s linear  infinite ;

}

@keyframes move {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}



/* body{
    margin: 0px;
} */


/* Universal selecter */
/* *{
    background-color: black;
    text-decoration-line: underline;
} */