.box{
    height: 100px;
    width: 100px;
    margin-top: 200px;
    border-radius: 50%;

    /* transition: all 1s;
    transition-delay: 1s;
    transition-timing-function: ease; */

    animation: jump;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

/* .box:hover{
    transform:rotate(45deg);
    transform: rotateX(45deg);
    transform: scale(2);
    transform: skewX(45deg);
    transform: translate(300px);

} */

@keyframes jump {

    20% {
        transform: translate(200px);
    }
    35%{
        transform: translate(200px,-190px);
    }
    50%{
        transform: translate(200px);
    }
    70%{
        transform: translate(200px,-190px);
    }
    85%{
        transform: translate(200px);
    }
    100%{
        transform: translate(0,0);
    }
}