nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: sticky;
    top: 0px;
    border-radius: 5px;
    margin: 0px;

}

nav>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.foto{
    width: 100px;
    border-radius:100px;

    transition: all 0.5s;
}

.foto:hover{
    transform: scale(0.9);
}

.name{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}

.mail{
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: small;
     
}

.bttn{
    border: solid 1px transparent;
    background-color:rgb(145, 237, 237);
    border-radius: 15px;
    font-size: 15px;
    height: 30px;
    margin: 5px;

}

.bttn:hover{
    background-color:black;
    color: aliceblue;
}

.view-all{
    background-color: white;
    border: solid 1px  rgb(149, 131, 131);
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    margin: 13px 2px ;
    /* text-align: center; */
    padding: 5px;
}

.view-all:hover{
    background-color: black;
    color: white;
}

.content{
    background: linear-gradient(45deg, red, blue , yellow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(149, 131, 131);
    margin: 7px;
    border-radius: 10px;
    
}

.foto-name-email{
    margin: 10px;
    display: flex; 

}

.name-email{
    margin: 0px 15px;

}

body{
    margin: 0px;
}

.online-icon{
    height: 15px;
    width: 15px;
    background-color: rgb(42, 209, 42);
    border-radius: 50%;
    position: absolute;
    left: 100px;
}


/* Media Query */


@media screen and (max-width : 640px) {

    nav {
        display: grid;
        grid-template-columns:auto auto auto;
        justify-content:space-evenly;
        background-color: black;
        position: sticky;
        top: 0px;
        border-radius: 5px;
        margin: 0px;
    
    }
}

@media screen and (min-width : 900px){


    nav {
        display: grid;
        grid-template-columns:auto auto;
        justify-content:space-evenly;
        background-color: black;
        position: sticky;
        top: 0px;
        border-radius: 5px;
        margin: 0px;
    
    }

}
